body {
    width: 450px;
    height: 500px;
    padding: 20px;
    overflow-x: hidden;
    background-color: rgb(121, 121, 121);
}

h1 {
    text-align: center;
}

.row {
    align-items: center;
    justify-content: space-between;
    .form-control {
        max-width: 100px;
    }
}

.modesRow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}
  
.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  

.mode .form-control {
    max-width: 100px;
}

.mode label {
    margin-bottom: 0;
}
.mode input {
    margin-top: 0;
}



.icon {
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    vertical-align: middle; 
    display: inline-block; 
    border-radius: 10px; 
    overflow: hidden; 
    background-size: cover; 
    width: 40px; 
    height: 40px;
}
.discord {
    background-image: url('../icons/discord40px.png'); 
}
.github {
    background-image: url('../icons/github40px.png'); 
}